# [作業目標]
- 對資料做更多處理 : 顯示特定欄位的統計值與直方圖

# [作業重點]
- 試著顯示特定欄位的基礎統計數值 (In[4], Out[4], Hint : describe())
- 試著顯示特定欄位的直方圖 (In[5], Out[5], Hint : .hist())

In [2]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd

# 設定 data_path
dir_data = './data/'

In [3]:
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

## 練習時間

觀察有興趣的欄位的資料分佈，並嘗試找出有趣的訊息
#### Eg
- 計算任意欄位的平均數及標準差
- 畫出任意欄位的[直方圖](https://zh.wikipedia.org/zh-tw/%E7%9B%B4%E6%96%B9%E5%9B%BE)

### Hints:
- [Descriptive Statistics For pandas Dataframe](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)
- [pandas 中的繪圖函數](https://amaozhao.gitbooks.io/pandas-notebook/content/pandas%E4%B8%AD%E7%9A%84%E7%BB%98%E5%9B%BE%E5%87%BD%E6%95%B0.html)

In [6]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [12]:
app_train['SK_ID_CURR'].mean()

278180.51857657125

In [10]:
app_train['SK_ID_CURR'].std()

102790.17534842374

In [13]:
app_train['TARGET'].mean()

0.08072881945686496

In [14]:
app_train['TARGET'].std()

0.272418645647685

In [15]:
app_train['CNT_CHILDREN'].mean()

0.4170517477423572

In [16]:
app_train['CNT_CHILDREN'].std()

0.7221213844389559

In [17]:
app_train['AMT_INCOME_TOTAL'].mean()

168797.9192969845

In [18]:
app_train['AMT_INCOME_TOTAL'].std()

237123.14627883647

In [20]:
app_train['AMT_CREDIT'].mean()

599025.9997057016

In [21]:
app_train['AMT_CREDIT'].std()

402490.776995946

In [22]:
app_train['AMT_ANNUITY'].mean()

27108.573909183444

In [23]:
app_train['AMT_ANNUITY'].std()

14493.737315117392

In [24]:
app_train['AMT_GOODS_PRICE'].mean()

538396.2074288895

In [25]:
app_train['AMT_GOODS_PRICE'].std()

369446.4605400129

In [26]:
app_train['REGION_POPULATION_RELATIVE'].mean()

0.02086811205778947

In [27]:
app_train['REGION_POPULATION_RELATIVE'].std()

0.013831280122699869

In [28]:
app_train['DAYS_BIRTH'].mean()

-16036.995066843137

In [35]:
app_train['DAYS_BIRTH'].std()

4363.988631785526

In [38]:
app_train.cov()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,1.056582e+10,-59.041266,-83.819815,-4.436777e+07,-1.419730e+07,-6.449708e+05,-8.802091e+06,1.207224,-6.727735e+05,1.984012e+07,...,4.698847,0.419252,2.482850e+00,5.313017e-01,-23.040329,-24.972988,44.172238,45.722000,83.687998,895.504293
TARGET,-5.904127e+01,0.074212,0.003774,-2.572156e+02,-3.329871e+03,-5.060535e+01,-3.990170e+03,-0.000140,9.301338e+01,-1.729247e+03,...,-0.000195,-0.000009,1.321271e-06,1.848698e-05,0.000021,0.000080,0.000043,-0.003047,-0.000429,0.009943
CNT_CHILDREN,-8.381982e+01,0.003774,0.521459,2.205820e+03,6.235671e+02,2.237060e+02,-4.874046e+02,-0.000255,1.042894e+03,-2.446582e+04,...,0.000261,0.000015,1.606428e-05,-3.237726e-05,-0.000025,-0.000029,-0.000362,-0.007184,-0.004515,-0.056364
AMT_INCOME_TOTAL,-4.436777e+07,-257.215642,2205.819942,5.622739e+10,1.497168e+10,6.587001e+08,1.398799e+10,245.308712,2.820962e+07,-2.151468e+09,...,66.645285,13.926151,1.292048e+00,-2.554992e+00,14.770630,80.990699,121.371432,5619.742206,958.417938,5427.589564
AMT_CREDIT,-1.419730e+07,-3329.870551,623.567129,1.497168e+10,1.619988e+11,4.492695e+09,1.467708e+11,555.237032,-9.737131e+07,-3.800575e+09,...,1240.755318,206.931388,2.811662e+02,-1.189319e+02,-132.577892,189.999626,-105.628431,20190.890033,5119.011266,-36660.699977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,-2.497299e+01,0.000080,-0.000029,8.099070e+01,1.899996e+02,3.483036e+00,1.924912e+02,0.000002,1.076188e+00,7.381734e+00,...,0.000136,0.000003,-3.196824e-07,-2.236985e-06,0.002139,0.012267,0.004929,-0.000533,-0.000388,-0.000695
AMT_REQ_CREDIT_BUREAU_WEEK,4.417224e+01,0.000043,-0.000362,1.213714e+02,-1.056284e+02,4.087934e+01,-7.655799e+01,-0.000006,-1.178121e+00,8.871663e+01,...,-0.000088,-0.000007,-8.745033e-06,2.978878e-07,0.000081,0.004929,0.041896,-0.002643,-0.002457,0.007238
AMT_REQ_CREDIT_BUREAU_MON,4.572200e+01,-0.003047,-0.007184,5.619742e+03,2.019089e+04,5.160230e+02,1.920311e+04,0.000990,5.414437e+00,-4.453034e+03,...,-0.000132,-0.000063,2.839846e-05,-5.913206e-05,-0.000001,-0.000533,-0.002643,0.839060,-0.005665,-0.008518
AMT_REQ_CREDIT_BUREAU_QRT,8.368800e+01,-0.000429,-0.004515,9.584179e+02,5.119011e+03,1.156772e+02,4.847840e+03,-0.000014,-4.037508e+01,1.719070e+03,...,-0.000375,-0.000031,-1.935589e-05,-2.844195e-05,-0.000181,-0.000388,-0.002457,-0.005665,0.630524,0.113117
AMT_REQ_CREDIT_BUREAU_YEAR,8.955043e+02,0.009943,-0.056364,5.427590e+03,-3.666070e+04,-3.044840e+02,-3.541355e+04,0.000026,-5.798370e+02,1.318340e+04,...,-0.008170,-0.000328,-5.469961e-04,-1.823288e-04,-0.000721,-0.000695,0.007238,-0.008518,0.113117,3.494264

In [ ]:
fig, axes = plt.subplots(1)
data = pd.Series(app_train['SK_ID_CURR'], app_train)
data.plot(kind='bar', ax = axes, color='k', alpha=0.7)